.sponsor{
	background: url(../img/direBbMATbw.png) no-repeat;
}
.sponsor:hover{ 
	background: url(../img/direBbMAT.png) no-repeat;
}
.sponsor2{
	background: url(../img/hyperXmanufacturerbw.png) no-repeat;
}
.sponsor2:hover{ 
	background: url(../img/hyperXmanufacturer.png) no-repeat;
}
.ourspons{
	font-size: 15px;
	color: white;
	margin-bottom: 150px;
}
@font-face{
font-family: "BlackOpsOne-Regular";
src:url(../fonts/BlackOpsOne-Regular.ttf);
}
.ourspons h1{
    font-family: 'BlackOpsOne-Regular';
}